# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar
**/logs/
**/*.log

# Eclipse
.classpath
.project
.settings/
bin/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
*.env

# Build tools
build/
dist/

# Java
*.class

# Others
*.swp 